/* line 1, ../../sass/custom/form.scss */
h1 {
  margin: 20px 0 20px 0;
}

/* line 5, ../../sass/custom/form.scss */
.linear-wipe {
  background: linear-gradient(to right, #e66465, #9198e5, #e66465);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/* line 21, ../../sass/custom/form.scss */
#random-img {
  height: 200px;
  width: 200px;
}
