/* line 1, ../../sass/custom/form.scss */
h1 {
  margin: 20px 0 20px 0;
  text-align: center;
}

/* line 6, ../../sass/custom/form.scss */
.linear-wipe {
  background: linear-gradient(to right, #e66465, #9198e5, #e66465);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/* line 22, ../../sass/custom/form.scss */
.img-container {
  display: flex;
}

/* line 26, ../../sass/custom/form.scss */
#random-img {
  margin: 0 auto;
  max-height: 100vh;
}

/* line 31, ../../sass/custom/form.scss */
.form-group {
  text-align: center;
}

/* line 35, ../../sass/custom/form.scss */
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background: #FFF;
  border: 3px solid #9198e5;
  padding: 0.5em;
  margin-top: 0.3em;
  cursor: pointer;
}
